.sliderr {
    position: relative;
    display: flex;
    height: auto;
    justify-content: center;

}

.image {
    margin-top: 5px;
    height: 200px;
    width: 200px;
    border-radius: 45px;
    scroll-behavior: smooth;
    text-align: center;
    


}


.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;

}
.buttons{
margin: 10px;
height: 40px;
width: 40px;
border-radius: 25px;
border: none;
background-color: yellow;



}
.buttons-selector{
   text-align: center;
}
.slide {
    opacity: 0;
    transition-duration: 1 s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }