.sliderr {
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;

}

.image {
    height: 350px;
    width: 350px;
    border-radius: 25px;
    scroll-behavior: smooth;


}


.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;

}